<div >
  <i class="fas fa-star" style="color: <%= rating >= 1 ? 'red' : 'gray' %>"></i>
  <i class="fas fa-star" style="color: <%= rating >= 2 ? 'red' : 'gray' %>"></i>
  <i class="fas fa-star" style="color: <%= rating >= 3 ? 'red' : 'gray' %>"></i>
  <i class="fas fa-star" style="color: <%= rating >= 4 ? 'red' : 'gray' %>"></i>
  <i class="fas fa-star" style="color: <%= rating >= 5 ? 'red' : 'gray' %>"></i>
  <span><%= rating %>/5</span>
</div>
